@import "tool/base.scss";
@import "tool/_size.scss";
@import "tool/_center.scss";
@import "tool/_clearfix.scss";


body,html{
    height: 100%;
}
.bg{
    @include size(100%,50%);
    float: left;
    z-index: -1000;
}
.top{
    background: $maincolor;
}
.bottom{
    background: #eee;
}
.center{
    @include center();
     width:30%;
}
.submit{
    position: absolute;
    left:100%;
    transform: translate(-50%,-50%);
    top:50%;
}